.h1 {
    /* background-color: #4aaaa5; */
    padding: 20px;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
.nav-link {
    color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    /* border-right: solid #dddddd .1em; */
}
.header {
    /* border-bottom: solid #ccc 2px; */
}
.b {
    border-right: none;
}